html {
  font-size: 62.5%;
}
html, body {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Roboto';
  background: #222;
  text-align: center;
  color: #fff;
}
body > div {
  position: relative;
}
a {
  color: white;
}
header {
  padding: 20px;
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #000;
}
header h1 {
  margin: 0;
  font-size: 4rem;
}
button {
  margin-top: 20px;
  background: green;
  color: white;
  padding: 10px;
  border-radius: 10px;
  border: 0;
  cursor: pointer;
  font-size: 2rem;
}
#hardMode label,
#instructionsLink {
  cursor: pointer;
  font-size: 2rem;
  z-index: 3;
  margin-right: 10px;
}
#instructions {
  padding: 20px;
  background: #555;
  padding: 30px;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 3rem;
  z-index: 2;
}
#instructions strong {
  color: yellow;
}
#game {
  padding-top: 20%;
  display: flex;
  margin: 0 auto 50px auto;
  max-width: 900px;
}
#game div {
  flex-grow: 1;
  flex-basis: 0;
  min-width: 0;
  margin: 2px;
  display: inline;
}
#game .hint {
  font-size: 3rem;
  color: #aaa;
  position: relative;
  top: 10px;
}
input[type="text"] {
  height: 130px;
  width: 100%;
  text-align: center;
  font-size: 50px;
  text-transform: uppercase;
  border: 0;
  outline: none;
  transition: background 0.5s;
  border-radius: 2px;
}
input[type="text"]::selection {
  background: none;
}
#msg {
  font-size: 5rem;
}
#stopwatch,
#results {
  display: block;
  padding: 20px;
  font-size: 3rem;
  transition: all 2s ease;
}
#results {
  font-size: 2rem;
  display: none;
  border: 2px dashed #444;
  margin: 0 20%;
  background: #111;
  border-radius: 10px;
}
#stopwatch {
  background: #333;
}
#copyright {
  font-size: 1rem;
  color: #888;
  margin-top: 20px;
}
.hg-rows > .hg-row:first-child,
.hg-rows > .hg-row:last-child {
  display: none;
}
.simple-keyboard {
  background: #222 !important;
}
.hg-button {
  background: #000 !important;
  color: #fff !important;
}
.hg-theme-default .hg-button {
  height: 160px !important;
  font-size: 50px !important;
}
.hg-theme-default .hg-button-tab,
.hg-theme-default .hg-button-lock,
.hg-theme-default .hg-button-shift,
.hg-theme-default .hg-button-enter {
  display: none !important;
}
.simple-keyboard {
  margin-top: 60px;
}
.simple-keyboard {
  display: none;
  position: fixed;
  bottom: 0;
}
.iOS .simple-keyboard,
.Android .simple-keyboard {
  display: block;
}
