html, body {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Roboto';
  background: #222;
  text-align: center;
  color: #fff;
}
body > div {
  position: relative;
}
a {
  color: white;
}
input[type="text"] {
  margin: 2px;
  width: 75px;
  height: 75px;
  padding: 10px;
  font-size: 30px;
  text-transform: uppercase;
  text-align: center;
  border: 0;
  outline: none;
  transition: background 0.5s;
}
button {
  margin-top: 20px;
  background: green;
  color: white;
  padding: 10px;
}
#instructionsLink {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #000;
  cursor: pointer;
}
#instructions {
  padding: 20px;
  background: #555;
  padding: 10px;
}
#game {
  padding-top: 20%;
}
#stopwatch {
  font-size: 30px;
  transition: all ease 1s;
}
.hg-rows > .hg-row:first-child,
.hg-rows > .hg-row:last-child {
  display: none;
}
.simple-keyboard {
  background: #222 !important;
}
.hg-button {
  background: #000 !important;
  color: #fff !important;
}
.hg-theme-default .hg-button {
  height: 100px !important;
  font-size: 30px !important;
}
.hg-theme-default .hg-button-tab,
.hg-theme-default .hg-button-lock,
.hg-theme-default .hg-button-shift,
.hg-theme-default .hg-button-enter {
  display: none !important;
}
.simple-keyboard {
  margin-top: 60px;
}
@media (max-width: 968px) {
  .simple-keyboard {
    position: fixed;
    bottom: 0;
  }
}
@media (min-width: 968px) {
  .simple-keyboard {
    display: none;
  }
}
